.zn_option_container {padding:0 0 20px 0; border-bottom: 1px solid #fafafa; }
.zn_option_container.zn_full textarea {width: 100%;}
.zn_option_container label { display: inline-block; margin: 0px; font-weight: 700; font-size:13px;}

.zn_gradient {background-color: #F1F1F1; border-bottom: 1px solid #CDCDCD !important; border-top: 1px solid #CDCDCD !important; border-left: 1px solid #CDCDCD !important; border-right: 1px solid #CDCDCD !important; }
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {position: absolute; margin: -1px; padding: 0; height: 1px; width: 1px; overflow: hidden; clip: rect(0 0 0 0); border: 0; }

/* MISC */
.zn_live_label { font-size: 10px; line-height: 1; padding: 1px 8px; margin-left: 5px; background: #EF9A9A; color: #FFFFFF; border-radius: 2px; font-weight: 400; }
.zn_option_container.zn_full textarea { max-width: 100%; }

/* START GROUP CSS */
/*.zn_group_container > .zn_option_content {background: #F1F1F1; padding: 5px; }*/
.zn_group_container .zn_group_content {display: none; }
.zn_group_container  .zn_add_button {width: 100%; margin:10px 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.zn_group {margin-bottom: -1px; }
.zn_group .zn_group_header  {height: 36px;position: relative; }
.zn_group .zn_group_header h4 {padding: 10px; line-height: 15px !important; color: #666; font-size: 12px !important; display: inline-block; float: left; margin: 0; }
.zn_group .zn_group_header .zn_group_actions {position: absolute;right: 0; }
.zn_group .zn_group_header .zn_group_actions a {border-left: 1px solid #CDCDCD; float: left; padding: 10px 10px 4px 10px; display: block; cursor: pointer; text-decoration: initial;line-height: 17px;color: #868383; }
.zn_margin20 {margin-bottom: 20px;}

/* MEDIA ELEMENT */
.zn-image-holder.attachment-preview , .zn-image-holder {float: right; position: relative; text-align: center; width: 68%; height: auto; padding: 20px; margin-left: 1%; border: 1px solid #DFDFDF; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box;    /* Firefox, other Gecko */ box-sizing: border-box;         /* Opera/IE 8+ */ }
.zn-image-holder.attachment-preview:before { display: none !important; }

.zn_class_gallery > * {box-sizing: border-box;}

/*.zn_row.zn_image_properties .zn_span6 {padding: 20px 20px 0px 0;}*/
.zn-image-holder img {max-width: 100%;}
.zn_full .zn_image_properties select { float: right; margin-bottom: 5px !important; }
body .zn_full .zn_image_properties select { max-width: 190px; }
.zn_full .zn_image_properties label { margin-top: 9px !important; }
button.zn-remove-image {overflow:visible;cursor:pointer;border:0;-webkit-appearance:none;display:block;outline:none;z-index:1046;box-shadow:none;padding:0;}
.zn-remove-image{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;color:#FFF;font-style:normal;font-size:28px;font-family:Arial, Baskerville, monospace;padding:0 0 18px 10px;}

/* ICONS OPTIONS */
[data-zn_icon]:before {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: normal; content: attr(data-zn_icon); speak: none; }
.zn_font_name { display: block; clear: both; color: #A3A3A3; padding: 10px 0;text-align: center;}
.zn_icon_op_container { height: 300px;overflow: auto;}

/* ICONS UPLOAD */
.zn_class_upload .uploads_container { clear: both;}
.zn_class_upload .zn_admin_button {margin-bottom: 10px;}
.zn_class_upload .zn_remove_font {display: block;text-decoration: none;border: 1px solid #ddd;margin-bottom: 5px;padding: 10px;}
.zn_class_upload .zn_remove_font_trigger {background: #F00; color: #FFF; width: 20px; height: 20px; text-align: center; border-radius: 50%; float: right; line-height: 20px;}

/* Toggle buttons */
.zn_radio label { padding:7px 12px; color:#757575; background: #E4E4E4; display: inline-block; border:1px solid #ccc; border-right-width:0; cursor: pointer; font-size: 12px; }
.zn_radio label:hover { color:#444; background: #eee; }
.zn_radio input:checked + label { background: #1abc9c;border-color:#17987E;color: #fff; }
.zn_radio label:first-of-type {border-radius:3px 0 0 3px;  }
.zn_radio label:last-of-type {border-radius:0 3px 3px 0;  border-right-width:1px;}
.zn_radio > input[type="radio"] {display: none;}

/* Breakpoints type of radio buttons group */
.zn_breakpoints .zn_radio { display: table; table-layout: fixed; width: 100%;}
.zn_breakpoints .zn_radio [type="radio"] + label {  height:30px; line-height: 30px;display: table-cell;text-align: center;padding: 12px 0;}
.zn_breakpoints .zn_radio [type="radio"] + label:before {font-family: "dashicons"; font-size: 26px; vertical-align: middle;margin-right: 10px;display: inline-block;line-height: 1;color: #A5A5A5;font-weight: normal;}
.zn_breakpoints .zn_radio [type="radio"][value="lg"] + label:before {content: "\f472"; }
.zn_breakpoints .zn_radio [type="radio"][value="md"] + label:before {content: "\f471"; transform: rotate(-90deg); }
.zn_breakpoints .zn_radio [type="radio"][value="sm"] + label:before {content: "\f471"; }
.zn_breakpoints .zn_radio [type="radio"][value="xs"] + label:before {content: "\f470"; }
.zn_breakpoints .zn_radio [type="radio"]:checked + label:before {color: #fff;}

/* CUSTOM LAYOUT */
.zn_container { max-width: 1200px; padding: 0 20px; }
.zn_row {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  margin: 0 -20px; }
.zn_row:after {content: ""; display: table; clear: both; }
.zn_row:before {content: ""; display: table; }
.zn_span12 { width: 100%; }
.zn_span10 { width: 83.3332%; }
.zn_span9 { width: 75%; }
.zn_span8 { width: 66.6667%; }
.zn_span6 { width: 50%; }
.zn_span4 { width: 33.3333%; }
.zn_span3 { width: 25%; }
.zn_1_5 { width: 20%; }
.zn_span2 { width: 16.6667%; }
.zn_span1 { width: 8.3333% }

.zn_span1 , .zn_span2 , .zn_1_5 , .zn_span3 , .zn_span4 , .zn_span6 , .zn_span8 , .zn_span9 , .zn_span12 , .zn_span10{ float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; padding: 0 20px; }
.zn_nomargin{ padding: 0; }
.zn_hidden , html body div.zn_hidden {display: none;}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.zn_icon_edit:before { font-family: "dashicons";content: "\f108";font-size:20px;}
.zn_icon_trash:before { font-family: "dashicons";content: "\f158";font-size:20px;}
.zn_icon_order:before { font-family: "dashicons";content: "\f333";font-size:20px;}
.zn_icon_clone:before { font-family: "dashicons";content: "\f105";font-size:20px;}


/* CONFIRM MODAL */
.zn_modal_confirm p {margin-bottom: 30px;font-size: 15px;line-height:27px;color:#767676;}
.zn_modal_confirm.zn_modal_message p {margin-bottom: 0px;}
.zn_modal_confirm .btn {margin: 10px;display: block;}

/* PAGE BUILDER STUFF */
.zn_hidden , .zn_pb_buttons .button.zn_hidden {display: none;}
.zn_pb_buttons {margin-bottom: 10px;}
.zn_pb_buttons .button {margin-right: 10px;}
.zn_pb_buttons .spinner {float: left;background-image: url("../img/ajax-loader.gif");padding-right: 5px; display: none;}
.zn_pb_buttons .spinner.is-active { display: block; }

/* Visual editor */
.zn_class_visual_editor * {-webkit-box-sizing: initial; -moz-box-sizing: initial; box-sizing: initial;}
.zn_class_visual_editor input {width: auto;}

/* Google fonts */
.zn_class_zn_google_fonts_setup .zn_group_container {margin-top: 20px;}
.zn_add_gfont{ margin-left:10px !important; }

/* Sidebar option */
.zn_class_sidebar label {margin-right: 10px;}
.zn_class_sidebar select {margin-right: 20px;}


/* ICON OPTION */
.zn_icon_container span { color:#999; float: left; width: 42px; height:42px; font-size: 18px; line-height:42px; text-align:center; border:1px solid #eee; margin-top:-1px; margin-right:-1px; cursor: pointer; }
.zn_icon_container span:hover {-webkit-box-shadow: 0px 0px 9px 2px rgba(224, 224, 224, 0.75); -moz-box-shadow:    0px 0px 9px 2px rgba(224, 224, 224, 0.75); box-shadow:         0px 0px 9px 2px rgba(224, 224, 224, 0.75); }
.zn_icon_container span.zicon_active , .zn_icon_container span.zicon_active:hover {color: rgb(255, 255, 255); background: rgb(23, 163, 135); }
.zn_icon_container span.zicon_active:hover { background: #e74c3c; position: relative;}
.zn_icon_container span.zicon_active:hover:before { content:"\00D7"; }

/* JQUERY UI SLIDER */
.zn_slider { overflow: hidden; }
.zn_slider > input { float: left;width: 50px !important;  }
.zn_slider > .ui-slider { margin-left: 65px;margin-top: 9px; }

body .zn_option_container > h4 { }
.zn_option_container .zn_option_desc ,
.zn_option_container .zn_option_content  {float: left; width: 35%; position: relative; }
.zn_option_container .zn_option_content  {float: left; width: 65%; }
.zn_option_container.zn_full > .zn_option_desc , .zn_option_container.zn_full > .zn_option_content  {float: none; width: 100%; }
.zn_option_desc {font-size: 11px; line-height: 16px; color: #8D8D8D; padding-right: 10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* PAGE BUILDER BUTTONS ON EDIT PAGE */
.zn_pb_buttons {margin-bottom: 20px; }
.zn_pb_buttons .button {margin-right: 10px;}

/* Dependent field styling */
.zn_option_container[data-dependency] {border-left: 1px solid #ccc; padding: 10px 0 10px 20px; background-color:#FBFBFB}
.zn_option_container[data-dependency] > h4 {position:relative;}
.zn_option_container[data-dependency] > h4:before {position:absolute; content:''; width:10px; height:1px; background:#ccc; top:50%; left:-20px;}

/* HIDE THE PB METABOX */
#zn_pb_options {display: none;}
label[for=zn_pb_options-hide] {display: none; }


/* STYLE FORMS INPUTS */
body .zn_option_container input[type='text'],
body .zn_option_container input[type='input'],
body .zn_option_container input[type='password'],
body .zn_option_container input[type='email'],
body .zn_option_container input[type='number'],
body .zn_option_container input[type='url'],
body .zn_option_container input[type='tel'],
body .zn_option_container input[type='search'],
body .zn_option_container textarea,
body .zn_option_container select {font-weight: normal;background-color: #fff; font-size: 13px; color: #585858; width: 100%; max-width: 250px; margin: 1px; background: #fff; border-radius: 0;   border: 1px solid #dce1e4; font-size: 13px; border-radius: 2px; padding: 6px 10px !important;  -webkit-transition: all .2s ease-in-out;   -moz-transition: all .2s ease-in-out;   -o-transition: all .2s ease-in-out;   transition: all .2s ease-in-out; }

.select.zn_input { padding: 6px 10px !important; height: 32px; border-radius: 2px;}
.zn_link_styled .zn_input {width:35% !important;}
.zn_link_styled select.zn_input {width: 28% !important; height:32px; border-radius: 2px;}

body .zn_option_container h4 {font-size: 1em; margin: 1.33em 0;font-weight: 600; line-height: 1.4em;color:#333;}
body .zn-custom-title-sm h4 { font-size: 14px; line-height: 1.2; margin: 10px 0 0;}
body .zn-custom-title-md h4 { font-size: 16px; line-height: 1.2; margin: 10px 0 0;}
body .zn-custom-title-large h4 { font-size: 22px; line-height: 1.3; margin: 10px 0 0; font-weight: 600;}
body .zn-custom-title-xl h4 { font-size: 28px; line-height: 1.2; margin: 10px 0 0;}

body .zn-admin-helplink h4 {color:#676767;}
.zn-admin-helplink a {color:#000; text-decoration: none;}
.zn-admin-helplink a:hover {color:#009688;}

.zn-top-separator { border-top: 3px solid #80C6B8; padding-top: 10px; margin-top: 15px;}
.zn-gray-separator { border-top: 3px solid #F2F2F2; padding-top: 10px; margin-top: 15px;}

.zn-toptabs-margin h4 {margin-top:50px !important;}

body .zn_class_select select:focus ,
body .zn_class_link select:focus ,
body .zn_option_container input[type='text']:focus
{ outline: none;box-shadow: 0 0 5px #DBDBDB; }

body .zn_input:not(textarea):not([type=checkbox]) {border: 1px solid #ddd; width: 100%; max-width: 250px; height: auto; font-size: 13px; line-height: 1;}

body .zn_option_container input:hover,
body .zn_option_container input:focus {border-color: #bbb;}

body .zn_section_options * {border-color: #ddd;}

/* Textarea in options */
body .zn_class_textarea textarea {max-width: none;}

/* Zn Input sizing presets */
.zn_input_xs .zn_input {width:80px !important; max-width: none !important;}
.zn_input_sm .zn_input {width:40% !important; max-width: none !important;}
.zn_input_md .zn_input {width:60% !important; max-width: none !important;}
.zn_input_lg .zn_input {width:80% !important; max-width: none !important;}
.zn_input_xl .zn_input {width:98% !important; max-width: none !important;}

/* FRONTEND UI SLIDER */
.zn_option_content .ui-slider {
	position: relative;
	text-align: left;
}
.zn_option_content .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.zn_option_content .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.zn_option_content .ui-slider.ui-state-disabled .ui-slider-handle,
.zn_option_content .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.zn_option_content .ui-slider-horizontal {
	height: .8em;margin-right: 2em;
}
.zn_option_content .ui-slider-horizontal .ui-slider-handle {
	width: 2em;
	height: 2em;
	top: -0.45em !important;
	box-shadow: 0 0 0 0 #f2f2f2 inset;
	border:none;
	margin-left: -.6em;
	background: #3ac4c3;
}
.zn_option_content .wp-slider .ui-slider-handle:before {display: none;}
.zn_option_content .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.zn_option_content .ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.zn_option_content .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}



/* colors */
.wp-slider.ui-slider {
	background-color: #ddd;
	border:none;
	border-radius: 1.5em;
}

/* MODAL CONFIRM BUTTONS */
.zn-btn-confirm , .zn-btn-done, .zn-main-button {display: inline-block;color: #fff !important;padding: 10px;width: 250px;text-decoration: none;text-transform: uppercase;cursor: pointer;}
.zn-btn-confirm:hover , .zn-btn-done:hover, .zn-main-button:hover {color: #fff !important;text-decoration: none;}
.zn-btn-ok {background: #e65353;margin-right: 20px;}
.zn-btn-ok:hover {background: #e14848;}
.zn-btn-cancel {background: #bdc3c7;}
.zn-btn-cancel:hover {background: #b8bdc1;}
.zn-btn-green {background: #3AC4C3;}
.zn-btn-green:hover {background: #2C9A99;}


.zn-btn-done,.zn-main-button {background: #1abc9c;}
.zn-btn-done:hover,.zn-main-button:hover {background: #17B495;}

.zn_add_button_inactive + .zn_add_button { background: #C8C8C8; }
.zn_add_button_inactive + .zn_add_button:hover { background: #B2B2B2; }
.zn_add_button_inactive .zn_group .zn_group_header .zn_group_actions > a.zn_clone_button { color: #B2B2B2; }

.zn_modal .zn-btn-done {margin: 0 auto; display: block;margin-top: 20px;max-width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* TEXTAREA EDITOR */
.zn_tinymce {max-width: 100% !important;}

button.zn-remove-image {background: #009688;}

/* IMAGE UPLOAD BUTTON */
.zn_upload_image_button , .zn_admin_button  { float: left;padding: 10px 20px;background: #009688;color: #fff; cursor: pointer;text-decoration: none;transition:all 0.3s;}
.zn_upload_image_button:hover , .zn_admin_button:hover,
.zn_upload_image_button:focus , .zn_admin_button:focus {background: #34A992;color:#fff;}

/* FOR WIDGETS PAGE */
#side-sortables .zn_upload_image_button {width: 100%;text-align: center;margin-bottom: 10px;box-sizing:border-box; -moz-box-sizing:border-box;}
#side-sortables .zn-image-holder {width: 100%;text-align: center;}

/* NEW IMAGE UPLOAD WINDOW */
.zn_media_upload_add {float: left;padding: 10px 17px;cursor: pointer; /*width: 29%;*/ text-align: center;}
.zn_media_upload_add:hover {background: #34A992;color:#fff;}
.zn-media-preview-holder { width: 68%; min-height: 35px; float: left; margin-left: 3%; border: 2px dashed #ccc;}
.zn_full .zn-media-preview-holder {width: 100%; margin: 0;}
.zn_full .zn_media_upload_add {width: 100%;margin-bottom: 25px;}
.zn-media-preview-holder-empty { color:#ccc; text-align: center; padding: 20px; }
.zn-media-preview-holder .zn-media-gallery-preview-image img { width: 80px; height: 80px; display: block; float: left; margin: 5px; padding: 3px; border: 1px solid #ccc; background: #F4F4F4; }
.zn-media-gallery .media-sidebar  .gallery-settings {display: none;}
.zn-media-preview-holder video {width: 100%; height: auto;}


/* TOGGLE BUTTON TODO : SWITCH TO V2 */
.onoffswitch {position: relative; width: 90px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
.onoffswitch-checkbox {display: none !important; }
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer; border: 2px solid #DDDDDD; border-radius: 20px;margin-bottom: 0; }
.onoffswitch-inner {width: 200%; margin-left: -100%; -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; }
.onoffswitch-inner:before, .onoffswitch-inner:after {float: left; width: 50%; height: 25px; padding: 0; line-height: 25px; font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.onoffswitch-inner:before {content: "ON"; padding-left: 10px; background-color: #3AC4C3; color: #FFFFFF; }
.onoffswitch-inner:after {content: "OFF"; padding-right: 10px; background-color: #EEEEEE; color: #31323B; text-align: right; }
.onoffswitch-switch {width: 13px; margin: 7.5px;height: 13px; background: #FFFFFF; border: 2px solid #DDDDDD; border-radius: 20px; position: absolute; top: 0; bottom: 0; right: 56px; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px; }

/* TOGGLE V2 */
.zn_toggle2 input { position:absolute; left:-9999px }
.slider-v3 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 2em;
	cursor: pointer;
	border-radius: 1.5em;
	transition: 350ms;
	background: #ddd;
}
.slider-v3::after {position: absolute; content:''; width: 1em; height: 1em; top: 0.5em; left: 0.5em; border-radius: 1.5em; transition: width 200ms ease-out, height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, box-shadow 300ms ease-in; background: #3AC4C3; box-shadow: 0 0 0 1.5em #f2f2f2 inset; }
input:checked + .slider-v3::after {width: 2em; height: 2em; top: 0; left: 3em; box-shadow: 0 0 0 0 #f2f2f2 inset; }


/* DATE PICKER */
.ll-skin-nigran {
	font-size: 90%;
}

.ll-skin-nigran .ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #1ABC9C;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 1px 3px #252525;
}

.ll-skin-nigran .ui-datepicker {
	padding: 0;
}

.ll-skin-nigran .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ll-skin-nigran .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-title {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
	top: 1.7em;
	border:none;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-image: url(../img/ui-icons_ffffff_256x240.png);
	background-position: -32px -32px;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px -32px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
	background-position: -96px -48px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
	background-position: -32px -48px;
}

.ll-skin-nigran .ui-datepicker table {
	margin: 0;
}

.ll-skin-nigran .ui-datepicker th {
	color: #31323B;
	font-size: 8px;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
}

.ll-skin-nigran .ui-datepicker td {
	border: none;
	padding: 0;
}

.ll-skin-nigran td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	margin: 0;
	font-weight: normal;
	color: #efefef;
	font-size: 12px;
}

.ll-skin-nigran td .ui-state-active,
.ll-skin-nigran td .ui-state-hover {
	background: #31323B;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


/*! jQuery UI - v1.11.0 - 2014-07-03
* http://jqueryui.com
* Includes: core.css, datepicker.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}


/* Component containers
----------------------------------*/

.ui-widget-header {
	color: #ffffff;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

/* TIMEPICKER */
.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 999999;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1ABC9C; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

/* DATE PICKER */
.zn_option_container .zn_class_date_picker .zn-input {width: 100px; margin: 0 20px 0 10px;}




/** ZN MODAL CSS */
.zn-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(214, 214, 214, 1);
	z-index: 159998;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.zn-modal-backdrop.zn-modal-backdrop-visible {
	opacity: 0.8;
}

.zn-modal-transparent {
	background: transparent;
}

.zn-modal {
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out;
	top: 0;
	left: 0;
	z-index: 100099;
	font-size: 14px;
}

/* Fixes modals on WP Customizer */
.wp-customizer .zn-modal-backdrop { z-index: 559998; }
.wp-customizer .zn-modal { z-index: 559999; }

.zn-modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.zn-modal.zn-modal-visible {
	opacity: 1;
}

.zn-modal-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	text-align: center;
}

.zn-modal-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


.zn-modal-inner {
	opacity: 0;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	box-shadow: rgba(0,0,0,0.5) 0 4px 30px;
	position: relative;
	background: #FFF;
	max-width: 870px;
	margin: 20px auto;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	height:auto !important;
}
.zn-modal-inner.minimized {overflow: hidden; height: 42px !important; }

.zn-modal.zn-modal-visible .zn-modal-inner {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.zn-modal-inner-header {
	border-bottom: 1px solid #E8E8E8;
	overflow: hidden;
	cursor: move;
}
.zn-modal-title {
	float: left;
	margin-right: 45px;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 0;
	font-weight: 300;
	margin: 0;
}

.zn-modal-close,
.zn-modal-resize {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	z-index: 1;
}
.zn-modal-resize {right:44px;}
.zn-modal-resize:before {
  content: '';
  position: absolute;
  left: 17px;
  top: 15px;
  width: 12px;
  height: 12px;
  text-align: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABHUlEQVRYR+2XURHCMAxA3xSABByAA5CAA3AAKAAcgAOQgANwMAlIAAVw4dhdb9es7dr8rd9t32uSLl1F3jgBm4wt6ipjsSy9A/OcPQaB3AjMgGUgBVtgpM3JFQil/wKsuiZZCgThImYloMHf7XRYCGjwK/AE9m5KSgt0wdfAwVIgBJeDmwnEwM0EYuEmAinw4gKpcFVAWurUuRo7oA584vrAVYFPC3b8V6vm0Bcu+0nvkAM34/ceSBHIgXsPlCJQHN70gpgImMBjBczgMQKm8JCAObxLYKK8ZKSlSlcrNny34AWMPYTicC0CvtOZwGMFzOAxApIO99Ppi84toneoNeOrgdQCewCL1EXN/EFAIiC9330PpEbzDMjvV6/xBdr/V3HKFRD+AAAAAElFTkSuQmCC');
  background-size: 100%;
}

.zn-modal-inner-content {
	/*max-height: 80%;*/
	min-height: 100px;
	overflow-y: auto;
	position: relative;
}

.zn-modal-loading:before { content:" "; position: absolute; width: 100%;height: 100%;top: 0;left: 0;z-index: 99999999;display: block;background:#fff url("../img/ajax-loader.gif") no-repeat center center; }


/* MODAL CONFIRM CSS */
.zn_modal_confirm {text-align: center;padding: 35px 30px;}
.zn_modal_confirm p {margin-bottom: 30px;font-size: 15px;line-height:27px;color:#767676;}
.zn_modal_confirm .btn {margin: 10px;display: block;}

/* MODAEL EDIT CSS */
.zn-modal-form { padding: 20px; max-height: 400px; overflow:auto; overflow-x:hidden;-webkit-transition: max-height .2s ease-in-out; transition: max-height .2s ease-in-out;}
.zn-modal-xl .zn-modal-form { max-height: 75vh; }
.zn-modal .zn-modal-inner-content > .zn-modal-form.zn-modal-group-form { display: block; }

.zn-options-tab-header { margin: -20px -20px 0 -20px;background: #f5f5f5; border-bottom: 1px solid #dfdfdf; padding: 15px 20px 0 20px; position: fixed; z-index: 3; width: 100%; top:62px}
.zn-options-tab-header > a { padding: 10px 15px 10px 15px; display: inline-block; border: 1px solid rgba(0, 0, 0, 0.05); background-color: #E8E8E8;}
.zn-options-tab-header > a:hover, .zn-options-tab-header > a:active, .zn-options-tab-header > a:focus { text-decoration: none; }
.zn-options-tab-header > a.zn-tab-active { background: #fff; border: 1px solid #dfdfdf; border-bottom-color: transparent; padding-bottom: 11px; margin-bottom: -11px; font-weight: 600; margin-top: 0px; padding-top: 14px; border-radius: 3px 3px 0 0;}
.zn-options-tab-content { display: none; padding-top: 38px; }
.zn-options-tab-content.zn-tab-active { display: block; }

.znpb-element-form-header {border-bottom:1px solid #EAEAEA !important;border-top:1px solid #EAEAEA !important;width: 100%;}
.znpb-element-form-title {float: left;color: #bababa;font-weight: bold;text-transform: uppercase;padding: 7px 15px;margin: 9px 0;}

/* MODAL CONTENT TWEAKS */
.zn-modal-inner-header a { text-decoration: none; }
.zn-modal-open #wp-link-wrap { z-index: 9999999; }
.zn-modal-open #wp-link-backdrop { z-index: 9999998; }

/* CUSTOM CSS OPTION */
textarea.zn_custom_css_textarea { height: 400px; }
.zn_option_container[data-optionid="custom_css"] { overflow: visible; }

/* Custom css option type */
.zn_code_input { width: 100%; height: 100%; min-height: 300px; }

/* These style only apply to the Theme's option page */
#zn_theme_admin {margin-top:20px; margin-right: 20px; }
#zn_theme_admin form {margin-bottom: 0; }
#zn_theme_admin .zn_sidebar {padding: 0; z-index: 2; }
#zn_theme_admin a,#zn_theme_admin a:focus {outline: none !important; box-shadow: none;}
/* START THE ADMIN PAGE MENU */
#zn_theme_admin .zn_sidebar ul {margin: 0; }
.admin-color-light #zn_theme_admin .zn_sidebar > ul > li {color: #333;}
#zn_theme_admin .zn_sidebar ul li {margin: 0; }
#zn_theme_admin .zn_sidebar ul.nav li {margin-bottom: 0; position: relative; }
#zn_theme_admin .zn_sidebar ul li a:hover {text-decoration: none; }
#zn_theme_admin .zn_sidebar ul li.wp-ui-highlight a:before {content: ""; display: block; position: absolute; right: -16px; border: 8px solid transparent;top:25%; }
#zn_theme_admin .zn_sidebar ul li a {padding: 5px 0 5px 15px; text-decoration: none; display: block; color: #fff; position: relative; }
/* START ADMIN PAGE LOGO */
#zn_theme_admin .zn_logo {padding:30px 20px; text-align: center; border-left: 2px solid #FFF; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF;}
#zn_theme_admin .zn_logo img {max-width: 100%; height: auto;}
/* START ADMIN PAGE CONTENT */
#zn_theme_admin .tab-pane {display: none; }
#zn_theme_admin .tab-pane.active {display: block; }
#zn_theme_admin .zn_page_content { background: #fff; }
/* START ADMIN PAGE HEADER AND FOOTER */
#zn_theme_admin .zn_action { margin: 0 -20px; padding: 0; }
#zn_theme_admin .zn_action.zn_header {border-bottom: 1px solid #fafafa; overflow: hidden; padding: 10px; }
#zn_theme_admin .zn_action .zn_save { float: right; }
#zn_theme_admin .zn-is-saving .zn_action .zn_save { background: #ccc; font-style: italic; transition:all .2s ease-out; pointer-events:none; }

/* MEGA MENU SPECIFIC */
.field-enable-mega-menu-headers , .field-enable-mega-menu { display: none; }
.menu-item-depth-1 .field-enable-mega-menu-headers ,.menu-item-depth-0 .field-enable-mega-menu{ display: block; }


/* Widget positions */
.zn_mp span.option_title,.zn_mp ul.zn_number_list {
	float:left;
	margin:0px;
}
.zn_mp span.option_title {
	padding:3px;
}
.zn_mp ul.zn_number_list li {
	float:left;
	margin-left:10px;
	color:#ccc;
	cursor:pointer;
	padding:3px;
}
.zn_mp ul.zn_number_list li.active {
	color:#000;
	text-decoration:underline;
	font-weight:bold;
}
.zn_mp .zn_positions,.zn_mp .zn_positions_display {
	width:235px;
}
.zn_mp .zn_position {
	float:left;
	background:#F5F5F5;
}
.zn_mp .zn_position span {
	border:1px solid #CCCCCC;
	color:#000;
	display:inline-block;
	height:30px;
	line-height:30px;
	text-align:center;
	width:100%;
}
.zn_positions_display {
	margin-bottom:10px;
	padding:1px;
}
.zn_positions_display:after {
	clear:both;
	content:"";
	display:block;
}

/* GRIDS */
.zn-grid-12 {
	width:100%;
}
.zn-grid-6 {
	width:50%;
}
.zn-grid-5 {
	width:41.6%;
}
.zn-grid-4 {
	width:33.3%;
}
.zn-grid-3 {
	width:25%;
}
.zn-grid-2 {
	width:16.6%;
}
.zn-grid-1 {
	width:8.3%
}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition:
	opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition:
	opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 12px;
	line-height: 1.3;
	-webkit-font-smoothing: subpixel-antialiase;
	    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
}
.u-text-copied.tooltip:after,
.u-text-copied[data-tooltip]:after {
	content: 'Copied!';
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
	-webkit-transform: translate(-50%,-12px);
	-moz-transform:    translate(-50%,-12px);
	transform: translate(-50%,-12px);
}

/** Message option type **/
.zn_option_container .zn_class_zn_message { margin: 20px 0; width: 100%; float: none; }
.znhtml_message { padding: 15px 15px 0px 15px; background: #54E454; text-align: center; color: #fff; overflow: hidden;}
.znhtml_message_warning {background: #E0C14C; }

/** Import system */
.zn_blocked_btn {background: #D8D8D8;}
.zn_import_msg_container.is_importing { clear: both; margin-top: 15px; width:100%;border-radius:3px; height: 5px;border:1px solid #EAEAEA; position: relative }
.zn_import_msg_container.is_importing .zn_import_bar{ content: " "; background: #60DC60; width: 0; height: 100%; position: absolute; transition: all 2s; }

.u-code {padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px;}

.stars-yellow .dashicons {color: #ccc; font-size: 13px; width: auto; }
.stars-yellow:hover .dashicons {color: #DCDC20; }